@model agap2it.labs.projects.PSM.Data.Country;

<form method="post" asp-action="Create">
    @Html.LabelFor(model => model.Name)

    <input type="number" name="Id" />
    <input type="submit" value="new" />
</form>
